# @version $Id: .htaccess 5462 2010-08-18 08:25:37Z Sigrid Suski $
# @package: Sigsiu Online Business Index 2 (Sobi2)
# ===================================================
# @author
# Name: Sigrid & Radek Suski, Sigsiu.NET GmbH
# Email: sobi[at]sigsiu.net
# Url: http://www.sigsiu.net
# ===================================================
# @copyright Copyright (C) 2007 - 2010 Sigsiu.NET GmbH (http://www.sigsiu.net). All rights reserved.
# @license see http://www.gnu.org/licenses/old-licenses/gpl-2.0.html GNU/GPL.
# You can use, redistribute this file and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation.

<Files *>
		 Order Deny,Allow
		 Deny from all
		 Allow from localhost
</Files>
