#question-body {
	background: url("/images/Design/wide-shadow-content.png") no-repeat scroll center bottom #F8F8F8;
    padding: 10px 10px 18px 10px;
    border-radius: 10px;
    width: 720px;
    float: left;
}
#answer-form {
	background: #eee;
	border-radius: 0px 9px 0px 9px;
	float: left;
	width: 98%;
	padding: 1%;
	margin-top: 10px;
}
#answer-form .row {
	float: left;
	width: 100%;
	margin: 5px 0;
}
#answer-form .buttons {
	background: none;
	padding: 0;
	margin: 0;
	border: none;
}
#answer-form .buttons input {
	margin: 0;
}
#answer-form textarea {
	width: 713px;
}

.answer {
	padding: 1%;
	width: 98%;
	float: left;
}
.is-the-best a {
	font-size: .85em;
	color: #bbb;
	text-decoration: none;
}
.is-the-best a:hover {
	color: #0066A4;
}
.answer.the-best-answer {
	background: #f1ffd9;
}
#quesions-filter {
	background: none repeat scroll 0 0 #F0F0F0;
    border-radius: 8px;
    clear: both;
    margin-bottom: 10px;
    padding: 1%;
    width: 98%;
}
