<?xml version="1.0" encoding="utf-8"?>
<config>
	<params>
		<param name="back_button" type="list" default="" label="Back Button" description="Show/Hide a Back Button, that returns you to the previously viewed page.">
			<option value="">Use Global</option>
			<option value="0">Hide</option>
			<option value="1">Show</option>
		</param>
	</params>
</config>