/* news widget */
.news-item-wrapper,
.news-item-image-wrapper {
	width: 300px;
	position: relative;
}
.news-item-wrapper {
	margin-bottom: 30px;
}
.news-item-image-wrapper {
	height: 125px;
}
.news-item-image-wrapper img {
	border: none 0;
}
div.news-item-wrapper.has-margin {
	margin-left: 20px;
}
.news-item-title,
.news-item-title-bg {
	position: absolute;
	bottom: 0;
}
.news-item-title-bg {
	background: #000;
	opacity: 0.5;
	height: 36px;
}
.news-item-title {
	top: 89px;
}
.news-item-title a {
	color: #fff;
	margin: 0 10px;
	font-weight: bold;
	display: block;
	text-decoration: none;
}
.news-item-title a:hover {
	text-decoration: underline;
}
.news-item-dates {
	font-size: .85em;
	font-weight: bold;
	padding: 2px 0 1px 0;
}
