.scrollerbox-holder {
    position: relative;
}
.scrollerbox-holder .left-arrow, .scrollerbox-holder .right-arrow {
    width: 26px;
    position: absolute;
    height: 100%;
    z-index: 1;
    top: 0;
}
.scrollerbox-holder .left-arrow {
    left: 0;
    background: #fff url('/images/Design/bigArrorLeft.png') no-repeat 50% 50%;
}

.scrollerbox-holder .right-arrow {
    right: 0;
    background: #fff url('/images/Design/bigArrorRight.png') no-repeat 50% 50%;
}