.shadowbox-shadow {
	position: fixed;
	display: none;
	background: #000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    z-index: 102;
}

.shadowbox-box {
	background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 30px #000000;
    left: 50%;
    position: absolute;
    top: 3%;
    width: 500px;
    z-index: 103;
    display: none;
    text-align: center;
}

.shadowbox-content {
    background: #000;
    position: relative;
    border-radius: 8px;
    padding: 10px 0px 28px;
    float: left;
}

.shadowbox-content a {
    color: #fff;
}

.shadowbox-content h3 {
    margin: 5px 0;
    padding: 5px 0;
    color: #fff;
}