body {
	margin: 0pt;
	padding: 0pt;
	font-size: 100%;
}

form {
	margin: 0pt;
	padding: 0pt;			
}

img {
	position: relative;
	top:2px;
}

.size1 {
	font-size: 90%;
}

.size2 {
	font-size: 100%;
}

.size3 {
	font-size: 70%;
}

.size4 {
	font-size: 110%;
}
span a {
	color:#000;
}
#header {
	background-color:#65d736;
	color:#fff;
	font-size: 100%;
	width: 100%;
}

#footer {
	background-color: #e3e3e3;
	height: 14px;
	font-size:68%;
	text-align: right;
	padding-right: 10px;
}

#content {
	padding: 12px;
}

#people {
	background-color:#f6f4e6;
	padding:12px;
	font-size: 100%;	
}

#people a{
	color: #0553f2;
}

#search {
	background-color: #edfbde;
	padding: 3px 0px 3px 3px;
}

.pages {
	padding: 5px 0px 5px 0px;	
}

.pageActive {
	padding: 1px 2px 1px 2px;
	font-weight: bold;	
}

.pageInactive {
	background-color: #27be14;
	padding: 1px 3px 1px 3px;
}

.pageInactive a {
	color:#fff;
}

a img {
	border:0px;
}
