.content-slider {
	float: left;
	width: 100%;
}

.content-slider ul.content-switcher {
	margin: 0;
	padding: 0;
	list-style: none;
}
.content-slider ul.content-switcher li {
	display: block;
	float: left;
	padding: 3px 20px;
}

.content-slider > div {
	position: relative;
	top: 0;
	padding: 0;
}
