.sobi-categories ul{
	margin:0;
	padding:0;
	list-style-type:none;
	list-style-position:outside;
	position:relative;
	line-height:1.5em;
}

.sobi-categories a:link, .sobi-categories a:active, .sobi-categories a:visited{
	display:block;
	padding: 5px;
	font-size: 16px;
	background-color:#F0F0F0;
	border:1px solid #ddd;
	color:#7F5300;
	text-decoration: none;
}

.sobi-categories a:hover{
	background-color:#fff;
	color:#333;
}

.sobi-categories ul li{
    float:left;
	width: 100%;
    position:relative;
}

.sobi-categories ul ul {
    position:absolute;
    width:14em;
    top:0em;
    display:none;
	left: 14em;
	z-index: 1000;
	border-left: solid 1px #aaa;
	border-right: solid 1px #aaa;
}

.sobi-categories ul li ul a{
    width:14em;
    float:left;
}

.sobi-categories ul ul ul {
	top:auto;
	}

.sobi-categories ul li ul ul {
    left:18em;
    margin:0px 0 0 10px;
    }

.sobi-categories ul li:hover ul ul, #nav li:hover ul ul ul, #nav li:hover ul ul ul ul{
    display:none;
    }
.sobi-categories ul li:hover ul, #nav li li:hover ul, #nav li li li:hover ul, #nav li li li li:hover ul{
    display:block;
    }