.header-nav-container {}
#nav {}

/************** ALL LEVELS  *************/ /* Style consistent throughout all nav levels */
#nav li {
	position: relative;
	text-align: left;
	margin-right: 5px;
}

#nav li.over {
	z-index: 999;
}

#nav a, #nav a:hover, #nav a:active, #nav a:focus {
	display: block;
	text-decoration: none;
}

#nav span {
	display: block;
	cursor: pointer;
	white-space: nowrap;
}

#nav li ul span {
	white-space: normal;
}

/************ 0 LEVEL  ***************/
#nav li {
	background: none;
	float: left;
	margin: 0;
	padding: 0 1px 0 0;
}

#nav li.parent {
	background: url(../images/mainnav-parent-arrow.gif) no-repeat right center;
}

#nav li.parent li.parent {
	background: url(../images/mainnav-parent-arrow-2.gif) no-repeat right center;
}

#nav a {
	background: url(../images/arrow4.gif) no-repeat right 16px #000000;
	text-decoration: none;
	font-size: 92%;
	color: #999999;
	padding: 0 35px 0 15px;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 36px;
}

#nav a span {

}

#nav li.active a {
	background: url(../images/arrow4-hover.gif) no-repeat right 16px #BB2222;
	color: #FFFFFF;
}

#nav li.active a span {
}

#nav li.over a, #nav a:hover, #nav a:active, #nav a:focus, #nav a.over,
#nav li.active a:hover, #nav li.active a:active, #nav li.active a:focus {
	background: url(../images/arrow4-hover.gif) no-repeat right 16px #BB2222;
	color: #FFFFFF;
}

#nav li.over a span, #nav a.over span, #nav a:hover span, #nav a:active span, #nav a:focus span,
#nav li.active a:hover span, #nav li.active a:active span, #nav li.active a:focus span {
	background: url(../../images/arrow4-hover.gif) no-repeat right 16px #BB2222;
}

/************ 1ST LEVEL ************/
#nav ul li,
#nav ul li.active {
	margin: 0;
	padding:0;
}

/*#nav ul li.over { background:#d5e4eb url(../images/nav_divider.gif) repeat-x 0 100%; }*/

#nav ul li.last {
	padding-bottom: 0;
}

#nav ul a,
#nav ul a:hover, #nav ul a.over {
	float: none;
	background: none;
}

#nav ul a span,
#nav ul a:hover span, #nav ul a.over span {
	float: none;
	display: inline;
}


#nav ul li a, #nav ul li a span {
	font-weight: normal !important;
	line-height: normal !important;
	background: none !important;
}

/************ 2ND LEVEL ************/
#nav ul {
	position: absolute;
	width: 15em;
	top: 36px;
	left: -999em;
	border: 1px solid #5A5A5A;
	border-top: 0; 
	background: #454545;
	list-style: none;
}

#nav ul li {
	background: none;
	width: 100%;
	border-top: 1px solid #5A5A5A;
}

/* Show menu */
#nav li.over > ul { left:0; }
#nav li.over > ul li.over > ul { left:150px; }
#nav li.over ul ul { left:-10000px; }

#nav ul li a,  #nav li.active li a {
	border: none;
	margin: 0;
	color: #CCCCCC;
	background: url(../images/blank.png);
	font-size: 100%;
	text-transform: none;
	padding: 5px 15px;
}

#nav ul li a:hover, #nav ul li a:active, #nav ul li a:focus, #nav ul li a.over {
	background: #333333 !important;
	color: #FFFFFF;
}

/************ 3RD+ LEVEL ************/
#nav ul ul { top: 5px; }


